<template>
    <!-- Start Shop Home List  -->
    <section class="shop-home-list section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="shop-section-title">
                        <h1>Mon panier</h1>
                    </div>
                </div>
                <h5>Nombre total d'article : {{ nbTotalItemInBasket }}</h5>
            </div>
            <div class="row" v-for="(basketProduct, index) in basketProducts">
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single List  -->
                    <div class="single-list">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="list-image overlay">
                                    <img
                                        src="https://via.placeholder.com/115x140"
                                        alt="#"
                                    />
                                    <router-link
                                        class="buy"
                                        :to="{
                                            name: 'detailProduct',
                                            params: {
                                                prodId: basketProduct.product.id
                                            }
                                        }"
                                        ><i class="fa fa-shopping-bag"></i>Fiche
                                        produit</router-link
                                    >
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12 no-padding">
                                <div class="content">
                                    <h4 class="title">
                                        <a href="#">{{
                                            basketProduct.product.name
                                        }}</a>
                                    </h4>
                                    <p class="price with-discount">
                                        {{ truePrice(basketProduct.product) }} €
                                    </p>
                                    <!-- START INCREASE/DECREASE -->
                                    <div>
                                        <a
                                            v-show="
                                                canReduce(
                                                    basketProduct.quantity
                                                )
                                            "
                                            @click="
                                                reduceQuantityOfProduct(
                                                    basketProduct.variation.id,
                                                    basketProduct.product.name
                                                )
                                            "
                                            ><i class="fa fa-minus"></i
                                            >&nbsp;</a
                                        >
                                        <p
                                            class="quantity"
                                            :key="
                                                'quantity-' +
                                                    basketProduct.variation.id
                                            "
                                        >
                                            Quantité :
                                            {{ basketProduct.quantity }}
                                        </p>
                                        <a
                                            v-show="
                                                canIncrease(
                                                    basketProduct.quantity,
                                                    basketProduct.variation
                                                        .stock
                                                )
                                            "
                                            @click="
                                                increaseQuantityOfProduct(
                                                    basketProduct.variation.id,
                                                    basketProduct.product.name
                                                )
                                            "
                                            >&nbsp;<i class="fa fa-plus"></i
                                        ></a>
                                    </div>
                                    <!-- END INCREASE/DECREASE -->
                                    <!-- START VARIATION -->
                                    <table class="mt-4">
                                        <tr>
                                            <th>
                                                Taille
                                            </th>
                                            <th>
                                                Couleur
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{
                                                    basketProduct.variation
                                                        .variations.size
                                                }}
                                            </td>
                                            <td
                                                :style="
                                                    circleOfColor(
                                                        basketProduct.variation
                                                            .variations.color
                                                    )
                                                "
                                            ></td>
                                        </tr>
                                    </table>
                                    <!-- END VARIATION -->
                                </div>
                            </div>
                        </div>
                        <p
                            v-if="
                                isLessThanTenInStock(
                                    basketProduct.variation.stock
                                )
                            "
                            class="not-much-stock"
                        >
                            Plus que {{ basketProduct.variation.stock }} en
                            stock.
                        </p>
                        <!-- START BTN DELETE -->
                        <button
                            @click="
                                deleteProductFromBasket(
                                    basketProduct.basket.id,
                                    index,
                                    basketProduct.product.name,
                                    basketProduct.variation.id
                                )
                            "
                            class="btnn"
                        >
                            Supprimer
                        </button>
                        <!-- END BTN DELETE -->
                    </div>
                    <!-- End Single List  -->
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="basket-total-price">
                        <h5>Sous total : {{ totalPrice }} €</h5>
                    </div>
                    <router-link
                        :to="{
                            name: 'pay'
                        }"
                        v-show="isProductInBasket()"
                        class="btn"
                        >Commander</router-link
                    >
                </div>
            </div>
            <div
                class="delete-product"
                v-for="(basketProductDeleted, index) in basketProductsDeleted"
            >
                Le produit {{ basketProductDeleted[0].product.name }} a été
                supprimé.
                <button
                    class="deleted-product-btn"
                    @click="addProductToBasket(basketProductDeleted[0], index)"
                >
                    Rajouter
                </button>
            </div>
        </div>
    </section>
    <!-- End Shop Home List  -->
</template>

<script>
export default {
    data: function() {
        return {
            basketProducts: [],
            basketProductsDeleted: []
        };
    },
    mounted() {
        this.getProductsOfUser();
    },
    watch: {},
    props: {
        user: {
            type: Object,
            default: null
        }
    },
    methods: {
        circleOfColor(color) {
            return "background-color: " + color + ";";
        },
        /**
         * Get the price of a product with the sold on it
         * @return float
         */
        truePrice(product) {
            return (
                product.price -
                (product.price * product.sold) / 100
            ).toFixed(2);
        },

        /**
         * Add a deleted product to the basket
         */
        addProductToBasket(basketProduct, basketIndex) {
            this.basketProducts.push(basketProduct);
            this.basketProductsDeleted.splice(basketIndex, 1);
            axios
                .post("/api/basketProduct/add", {
                    prodId: basketProduct.product.id
                })
                .then(response => {
                    this.$store.commit("addItemCountToBasket");
                    toastr.success(
                        "L'article " +
                            basketProduct.product.name +
                            " bien été rajouté au panier.",
                        "Succès"
                    );
                })
                .catch(error => {
                    toastr.error("Une erreur est survenue.", "Erreur");
                });
        },

        /**
         * remove the selected product from the basket of the user
         */
        deleteProductFromBasket(basketId, basketIndex, productName, productId) {
            axios
                .post("/api/basketProduct/delete", {
                    basket: basketId,
                    prodId: productId
                })
                .then(response => {
                    this.basketProductsDeleted.push(
                        this.basketProducts.splice(basketIndex, 1)
                    );
                    this.$store.commit("removeItemCountToBasket");
                    toastr.success(
                        "L'article " +
                            productName +
                            " bien été supprimé du panier.",
                        "Succès"
                    );
                })
                .catch(error => {
                    toastr.error(
                        "L'article " +
                            productName +
                            " n'a pas pu être supprimé du panier.",
                        "Erreur"
                    );
                });
        },

        /**
         * Get all the products in the basket for the user
         */
        getProductsOfUser() {
            axios.get("/api/basketProduct/getAllFromUser").then(response => {
                this.basketProducts = response.data.data;
            });
        },

        /**
         * Return true if there is at least 1 product in the basket | false
         * @return bool
         */
        isProductInBasket() {
            return this.basketProducts.length > 0 ? true : false;
        },

        /**
         * Return true if stock less or equal 10 | false
         * @return bool
         */
        isLessThanTenInStock(stock) {
            return stock <= 10 ? true : false;
        },

        /**
         * Return true if quantity higher than one | false
         * @return bool
         */
        canReduce(quantity) {
            return quantity > 1 ? true : false;
        },

        /**
         * Return true if quantity less than the stock of the product | false
         * @return bool
         */
        canIncrease(quantity, stock) {
            return quantity < stock ? true : false;
        },

        /**
         * Reduce the quantity by one for the selected product
         */
        reduceQuantityOfProduct(variationId, productName) {
            this.basketProducts.forEach(basketProduct => {
                if (basketProduct.variation.id == variationId) {
                    basketProduct.quantity -= 1;
                    axios
                        .post("/api/basketProduct/update", {
                            calcul: "reduce",
                            basket: basketProduct.basket.id,
                            prodId: variationId
                        })
                        .then(response => {
                            toastr.success(
                                "La quantité de " +
                                    productName +
                                    " bien été réduite.",
                                "Succès"
                            );
                        })
                        .catch(error => {
                            console.log(error);
                        });
                }
            });
        },

        /**
         * Increase the quantity of the selected product by 1
         * Does not if the quantity is higher than the stock of the product
         */
        increaseQuantityOfProduct(variationId, productName) {
            this.basketProducts.forEach(basketProduct => {
                if (basketProduct.variation.id == variationId) {
                    basketProduct.quantity += 1;
                    axios
                        .post("/api/basketProduct/update", {
                            calcul: "increase",
                            basket: basketProduct.basket.id,
                            prodId: variationId
                        })
                        .then(response => {
                            toastr.success(
                                "La quantité de " +
                                    productName +
                                    " bien été augmentée.",
                                "Succès"
                            );
                        })
                        .catch(error => {
                            console.log(error);
                        });
                }
            });
        }
    },

    computed: {
        /**
         * Number of product in the basket
         * @return int
         */
        nbTotalItemInBasket() {
            var nbTotal = 0;
            this.basketProducts.forEach(basketProduct => {
                nbTotal += basketProduct.quantity;
            });
            return nbTotal;
        },

        /**
         * The total price of the basket
         * @return float
         */
        totalPrice() {
            var totalPrice = 0;
            this.basketProducts.forEach(basketProduct => {
                totalPrice +=
                    basketProduct.quantity *
                    this.truePrice(basketProduct.product);
            });
            return totalPrice.toFixed(2);
        }
    },
    created() {}
};
</script>
