<template>
    <div class="container">
        <h1>Merci pour votre commande</h1>
        <h2 class="mb-4">Résumé de la commande</h2>
        <table class="table table-bordered table-striped table-responsive">
            <thead class="thead-dark">
            <tr>
                <th>Nom</th>
                <th>Taille</th>
                <th>Couleur</th>
                <th>Quantité</th>
                <th>Prix unitaire (€)</th>
                <th>Total (€)</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="b in basket">
                    <td>{{b.product.name}}</td>
                    <td>{{b.variation.variations.size}}</td>
                    <td>{{b.variation.variations.color}}</td>
                    <td>{{b.quantity}}</td>
                    <td>{{truePriceForOne(b.product)}}</td>
                    <td>{{truePriceForAll(b)}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="5">Total</th>
                    <td>{{totalPrice()}}</td>
                </tr>
            </tfoot>
        </table>
    </div>
</template>

<script>
export default {
    data: function (){
        return {
            basket: [],
        }
    },
    props: {
        user: {
            type: Object,
            default: null
        },
        bill: {
            type: Object,
            default: null
        }
    },
    methods: {
        totalPrice(){
            var price = 0;
            this.basket.forEach(basket => {
                price += this.truePriceForAll(basket);
            });
            return price;
        },
        /**
         * Get the total price for a product
         * @return float
         */
        truePriceForAll(basket){
            return (this.truePriceForOne(basket.product) * basket.quantity);
        },
        /**
         * Get the price if it is solded
         * @return float
         */
        truePriceForOne(product){
            return ((product.price - (product.price * product.sold) / 100).toFixed(2));
        },
        /**
         * Get the basket of the user
         */
        getBasket(){
            axios.get('/api/basketProduct/get/' + this.bill.data.idBasketCompleted)
            .then((response) => {
                this.basket = response.data.data;
            });
        },
    },
    mounted() {
        this.bill = this.$route.params.bill;
        this.getBasket();
    }
};
</script>
