<template>
  <div class="col-lg-3">
    <h1 v-if="typeof user === String">{{ user.name }}</h1>
    <div class="all-category">
      <h3 class="cat-heading">
        <i class="fa fa-bars" aria-hidden="true"></i>CATEGORIES
      </h3>
      <ul class="main-category">
        <li v-for="category in categoriesWithSub" :key="category.id">
          <a href="/"
            >{{ category.name
            }}<i class="fa fa-angle-right" aria-hidden="true"></i
          ></a>
          <ul class="sub-category">
            <li
              v-for="subCategory in category.subCategories"
              :key="subCategory.subCategory.id"
            >
              <router-link :to="{name: 'productsByCat', params: {categoryId: category.id, subCategoryId: subCategory.subCategory.id}}">{{ subCategory.subCategory.name }}</router-link>
            </li>
          </ul>
        </li>
        <li v-for="category in categoriesWithoutSub" :key="category.id">
          <a href="#">{{ category.name }}</a>
        </li>
      </ul>
    </div>
  </div>
</template>


<script>
export default {
  methods: {
    log(message) {
      console.log(message);
    },
  },

  watch: {},

  props: {
    user: {
      type: Object,
      default: null,
    },
  },

  created() {},

  data: function () {
    return {
      categoriesWithSub: [],
      categoriesWithoutSub: [],
    };
  },

  mounted() {
    axios.get("/api/allCategories").then((response) => {
      var that = this;
      response.data.data.forEach(function (category) {
        if (category.subCategories.length > 0) {
          that.categoriesWithSub.push(category);
        } else {
          that.categoriesWithoutSub.push(category);
        }
      });
    });
  },
};
</script>