<template>
    <!-- START COMMENTAIRES -->
    <div class="container">
        <div class="row mt-5">
            <h3>Commentaires</h3>
            <div class="mt-3 mb-2 col-10 col-lg-12" v-if="user != null">
                <textarea
                    placeholder="Laisser un commentaire"
                    name="comment"
                    v-model="comment"
                    row="4"
                />
                <button class="btn btn-primary" @click="addComment()">
                    Envoyer
                </button>
            </div>
            <table
                class="table datatable-table table-borderless table-sm ml-3"
                id="tableComments"
            >
                <div v-for="comment in comments">
                    <tr>
                        <td>
                            <h6 style="margin-bottom: -5px" class="mt-1">
                                {{
                                    comment.user.name +
                                        " " +
                                        comment.user.firstName
                                }}
                            </h6>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p>
                                {{ comment.comment }}
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p
                                class="text-black-50 font-weight-light d-inline-block"
                                style="margin-top: -5px"
                            >
                                {{ comment.created_at }}
                            </p>
                            <a
                                @click="removeComment(comment)"
                                class="remove-link d-inline-block"
                                :style="isComToUser(comment)"
                            >
                                Supprimer
                            </a>
                        </td>
                    </tr>
                </div>
            </table>
        </div>
    </div>
    <!-- END COMMENTAIRES -->
</template>

<script>
export default {
    data: function() {
        return {
            productId: null,
            comment: "",
            comments: []
        };
    },
    props: {
        user: {
            type: Object,
            default: null
        }
    },
    methods: {
        /**
         * Add a comment to the product if the user if connected
         */
        addComment() {
            if (this.user != null) {
                axios
                    .post("/api/comment/add", {
                        product: this.productId,
                        comment: this.comment
                    })
                    .then(response => {
                        this.comment = "";
                        response.data.data.isToUser = true;
                        this.comments.unshift(response.data.data);
                    });
            }
        },

        /**
         * Get all the comments for the product
         */
        getComments() {
            axios
                .get("/api/comment/getAllFromProduct/" + this.productId)
                .then(response => {
                    this.comments = response.data.data;
                    if (this.user != null) {
                        this.comments.forEach(comment => {
                            if (comment.user.id == this.user.id) {
                                comment.isToUser = true;
                            }
                        });
                    }
                });
        },


        /**
         * Remove the comment
         */
        removeComment(comment) {
            if (comment.user.id == this.user.id) {
                axios
                    .post("/api/comment/remove", { commentId: comment.id })
                    .then(response => {
                        this.comments.forEach((c, index) => {
                            if (c.id == comment.id) {
                                this.comments.splice(index, 1);
                            }
                        });
                    });
            }
        },

        /**
         * Verify if the comment is to the connected user
         */
        isComToUser(comment) {
            if (!comment.isToUser) {
                return "display: none !important;";
            }
        }
    }
};
</script>
