<template>
    <div class="product-area section">
        <div class="container">
            <h2 class="mb-5">{{ product.name }}</h2>
            <!-- START FILTER -->
            <h5 class="mb-4">Filtres</h5>
            <div class="mb-5">
                <!-- START FILTER TAILLE -->
                Taille :
                <select
                    class="form-select d-inline-block col-4 col-sm-3 mr-sm-5"
                    v-model="sizeVariationSelected"
                    @change="setSelectedSizeVariation"
                >
                    <option v-for="size in sizes" :value="size.index">
                        {{ size.size }}</option
                    >
                </select>
                <!-- END FILTER TAILLE -->
                <!-- START FILTER COLOR -->
                <div class="dropdown d-inline-block ml-sm-5">
                    Couleur :
                    <button
                        class="btn btn-secondary dropdown-toggle"
                        type="button"
                        id="dropDownColor"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        v-text="colorSelected"
                    ></button>
                    <div class="dropdown-menu" aria-labelledby="dropDownColor">
                        <label
                            v-for="color in colors"
                            :style="getStyleColor(color)"
                        >
                            <input
                                @click="setSelectedProduct(color)"
                                type="radio"
                                name="color"
                                :value="color"
                                style="display: none; visibility: hidden;"
                            />
                        </label>
                    </div>
                </div>
                <!-- END FILTER COLOR -->
            </div>
            <!-- END FILTER -->
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="product-info">
                        <!-- Start Single Tab -->
                        <div class="tab-pane fade show active" role="tabpanel">
                            <div class="tab-single">
                                <div class="row">
                                    <div
                                        class="col-xl-3 col-lg-4 col-md-4 col-12"
                                        id="image"
                                    >
                                        <div class="product-img">
                                            <img
                                                class="default-img detail"
                                                :src="imageAdresse"
                                                alt="#"
                                            />
                                        </div>
                                    </div>
                                    <div
                                        class="col-xl-4 col-lg-6 col-md-6 col-12"
                                    >
                                        <p
                                            v-if="isSolded && isInStock"
                                            class="product-solded"
                                        >
                                            - {{ product.sold }}%
                                        </p>
                                        <p class="product-description">
                                            {{ productDescription }}
                                        </p>
                                        <p
                                            class="mt-4 product-brand"
                                            v-if="isBrandDefined(product)"
                                        >
                                            Marque : {{ product.idBrand.name }}
                                        </p>
                                        <button
                                            class="btn-read-description"
                                            v-if="productDescriptionMoreThan300"
                                            @click="changeStatusBtnDesc()"
                                            v-text="btnShowDescText"
                                        >
                                            Continuer la lecture
                                        </button>
                                    </div>
                                    <div
                                        class="col-xl-4 col-lg-6 col-md-6 col-12"
                                    >
                                        <span v-show="isInStock">
                                            <span
                                                v-show="isSolded"
                                                class="float-right product-price"
                                            >
                                                <p
                                                    v-if="isLessThanTen"
                                                    class="not-much-stock"
                                                >
                                                    Plus que
                                                    {{ stock }}
                                                    en stock
                                                </p>
                                                <p class="product-price">
                                                    Prix :
                                                    <span class="old">{{
                                                        product.price
                                                    }}</span>
                                                    <span class="price-solded"
                                                        >{{
                                                            soldedPrice
                                                        }}
                                                        €</span
                                                    >
                                                </p>
                                            </span>
                                            <span
                                                v-show="!isSolded"
                                                class="float-right product-price"
                                                ><p class="product-price">
                                                    Prix : {{ product.price }} €
                                                </p></span
                                            >
                                        </span>
                                        <span
                                            v-show="!isInStock"
                                            class="float-right"
                                            ><p class="product-rupture">
                                                En rupture
                                            </p></span
                                        >
                                    </div>
                                </div>
                                <button
                                    v-show="isInStock"
                                    @click="
                                        addToCart(selectedProduct, product.name)
                                    "
                                    class="btn btn-primary mt-4"
                                >
                                    Ajouter au panier
                                </button>
                                <!-- START Wishlist-->
                                <wishlist ref="wishlist" :user="user"></wishlist>
                                <!-- END Wishlist -->
                            </div>
                        </div>
                        <!-- End Single Tab -->
                    </div>
                </div>
            </div>
        </div>
        <!-- START COMMENTAIRES -->
        <comments ref="comment" :user="user"></comments>
        <!-- END COMMENTAIRES -->
        <!-- STAR MODAL -->
        <modal-not-connected ref="modal" :user="user"></modal-not-connected>
        <!-- END MODAL -->
    </div>
</template>

<script>
import Comments from './Comments.vue';
import ModalNotConnected from "./ModalNotConnected";
import Wishlist from './Wishlist.vue';

export default {
    components: {
        ModalNotConnected,
        Comments,
        Wishlist
    },

    data: function() {
        return {
            btnShowDescText: "Continuer la lecture",
            hideDesc: true,
            maxLengthDescription: 300,
            product: [],
            sizeVariationSelected: 0,
            selectedProduct: [],
            sizes: [],
            colors: [],
            colorSelected: "",
            stock: 0,
            isInWishlist: false,
            imageAdresse: '',
        };
    },

    props: {
        user: {
            type: Object,
            default: null
        }
    },

    methods: {
        /**
         * check if the brand of the product is defined or not
         * @return Bool false if undefined / true if defined
         */
        isBrandDefined(product) {
            if (typeof product.idBrand !== "undefined") {
                return true;
            }
            return false;
        },

        /**
         * Get the style for the color
         */
        getStyleColor(color) {
            return (
                "display: inline-block; width: 3em; height: 3em; border: thick solid white; border-radius: 50px; background-color: " +
                color +
                "; cursor: pointer;"
            );
        },

        /**
         * Set the selected product with the color
         */
        setSelectedProduct(color) {
            if (typeof color != "undefined") {
                this.colorSelected = color;
            }
            this.product.variations.forEach((variation, index) => {
                if (
                    variation.variations.size ==
                    this.product.variations[this.sizeVariationSelected]
                        .variations.size
                ) {
                    if (variation.variations.color == this.colorSelected) {
                        this.selectedProduct = variation.id;
                        this.stock = variation.stock;
                        this.imageAdresse = variation.imageAdresse;
                    }
                }
            });
        },

        /**
         * Get all the different sizes of the product
         */
        getSizes() {
            this.product.variations.forEach((variations, index) => {
                var insert = true;
                this.sizes.forEach(size => {
                    if (size.size == variations.variations.size) {
                        insert = false;
                    }
                });
                if (insert) {
                    this.sizes.push({
                        index: index,
                        size: variations.variations.size
                    });
                }
            });
        },

        /**
         * Get the new variation of product selected
         */
        setSelectedSizeVariation() {
            this.selectedProduct = this.product.variations[
                this.sizeVariationSelected
            ].id;
            this.colors = [];
            var size = this.product.variations[this.sizeVariationSelected]
                .variations.size;
            this.product.variations.forEach(variation => {
                if (variation.variations.size == size) {
                    this.colors.push(variation.variations.color);
                }
            });
            this.colorSelected = this.colors[0];
            this.setSelectedProduct();
        },

        /**
         * Add the selected item to the basket of the current user
         * If user already got the item, add 1 to the quantity
         */
        addToCart(productId, productName) {
            if (this.user != null) {
                axios
                    .post("/api/basketProduct/add", {
                        prodId: productId
                    })
                    .then(response => {
                        if (response.data == "inserted") {
                            toastr.success(
                                "Vous avez ajouté " +
                                    productName +
                                    " à votre panier.",
                                "Succès"
                            );
                            this.$store.commit("addItemCountToBasket");
                        } else if (response.data == "updated") {
                            toastr.success(
                                "La quantité de " +
                                    productName +
                                    " dans votre panier a été augmenté de 1.",
                                "Succès"
                            );
                        }
                    })
            } else {
                this.$refs["modal"].btnModalText =
                    "Vous n'êtes pas connecté. Pour ajouer un produit à votre panier vous devez être connecté.";
                this.$refs["modal"].$refs["btnModal"].click();
            }
        },

        /**
         * Change the text of the button
         */
        changeStatusBtnDesc() {
            this.hideDesc == true
                ? (this.hideDesc = false)
                : (this.hideDesc = true);
            this.btnShowDescText == "Continuer la lecture"
                ? (this.btnShowDescText = "Cacher")
                : (this.btnShowDescText = "Continuer la lecture");
        },

        /**
         * get the product by his ID
         */
        getProduct() {
            axios
                .get("/api/product/find/" + this.$route.params.prodId)
                .then(response => {
                    this.product = response.data.data;
                    this.selectedProduct = this.product.variations[
                        this.sizeVariationSelected
                    ].id;
                    this.getSizes();
                    this.setSelectedSizeVariation();
                    this.$refs['wishlist'].productId = this.product.id;
                    this.$refs['wishlist'].productName = this.product.name;
                    this.$refs['wishlist'].getProductWishlist();
                    this.$refs['comment'].productId = this.product.id;
                    this.$refs['comment'].getComments();
                    this.isLoaded = true;
                })
        },
    },

    computed: {
        /**
         * Display the button to hide/show description if the length of description is more than 300 characters
         * @return true if description's characters more than 300 | false
         */
        productDescriptionMoreThan300() {
            if (typeof this.product.description != "undefined") {
                return this.product.description.length >
                    this.maxLengthDescription
                    ? true
                    : false;
            }
        },

        /**
         * Hide the description if it exceed 300 characters and if the user want to
         * @return string
         */
        productDescription() {
            if (typeof this.product.description != "undefined") {
                return this.product.description.length >
                    this.maxLengthDescription && this.hideDesc
                    ? this.product.description.substring(
                          0,
                          this.maxLengthDescription
                      ) + " ..."
                    : this.product.description;
            }
        },

        /**
         * @return true if product is in stock | false
         */
        isInStock() {
            if (typeof this.product.variations != "undefined") {
                return this.stock > 0 ? true : false;
            }
        },

        /**
         * @return true if product is solded
         */
        isSolded() {
            return this.product.sold > 0 ? true : false;
        },

        /**
         * @return int : the solded price of the product
         */
        soldedPrice() {
            return (
                this.product.price -
                (this.product.sold * this.product.price) / 100
            ).toFixed(2);
        },

        /**
         * @return true if product got less than 10 in stock | false
         */
        isLessThanTen() {
            if (typeof this.product.variations != "undefined") {
                if (this.stock <= 10 && this.stock > 0) {
                    return true;
                }
            }
            return false;
        }
    },

    mounted() {
        this.getProduct();
    }
};
</script>

<style>
.remove-link {
    cursor: pointer;
    color: #f7941d;
    text-decoration: underline #f7941d;
}
</style>
