<template>
  <footer class="footer">
    <!-- Footer Top -->
    <div class="footer-top section">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6 col-12">
            <!-- Single Widget -->
            <div class="single-footer about">
              <div class="logo">
                <a href="index.html"><img src="images/logo2.png" alt="#" /></a>
              </div>
              <p class="text">
                Praesent dapibus, neque id cursus ucibus, tortor neque egestas
                augue, magna eros eu erat. Aliquam erat volutpat. Nam dui mi,
                tincidunt quis, accumsan porttitor, facilisis luctus, metus.
              </p>
              <p class="call">
                Des questions ? Appellez nous 24/7<span
                  ><a href="tel:123456789">+33 4 78 56 48 89</a></span
                >
              </p>
            </div>
            <!-- End Single Widget -->
          </div>
          <div class="col-lg-2 col-md-6 col-12">
            <!-- Single Widget -->
            <div class="single-footer links">
              <h4>Informations</h4>
              <ul>
                <li><a href="#">A propos</a></li>
                <li><a href="#">Faq</a></li>
                <li><a href="#">Termes d'utilisation</a></li>
                <li><a href="#">Nous contacter</a></li>
                <li><a href="#">Help</a></li>
              </ul>
            </div>
            <!-- End Single Widget -->
          </div>
          <div class="col-lg-2 col-md-6 col-12">
            <!-- Single Widget -->
            <div class="single-footer links">
              <h4>Services</h4>
              <ul>
                <li><a href="#">Moyen de paiements</a></li>
                <li><a href="#">Remboursement</a></li>
                <li><a href="#">Modalités de retour</a></li>
                <li><a href="#">Shipping</a></li>
                <li><a href="#">Politique de vie privée</a></li>
              </ul>
            </div>
            <!-- End Single Widget -->
          </div>
          <div class="col-lg-3 col-md-6 col-12">
            <!-- Single Widget -->
            <div class="single-footer social">
              <h4>Contact</h4>
              <!-- Single Widget -->
              <div class="contact">
                <ul>
                  <li>NO. 342 - London Oxford Street.</li>
                  <li>Lyon</li>
                  <li>info@ecommerce.com</li>
                  <li>+33 4 78 56 48 54</li>
                </ul>
              </div>
              <!-- End Single Widget -->
              <ul>
                <li>
                  <a href="#"><i class="ti-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="ti-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="ti-flickr"></i></a>
                </li>
                <li>
                  <a href="#"><i class="ti-instagram"></i></a>
                </li>
              </ul>
            </div>
            <!-- End Single Widget -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Footer Top -->
    <div class="copyright">
      <div class="container">
        <div class="inner">
          <div class="row">
            <div class="col-lg-6 col-12">
              <div class="left">
                <p>Copyright © 2020 - All Rights Reserved.</p>
              </div>
            </div>
            <div class="col-lg-6 col-12">
              <div class="right">
                <img src="images/payments.png" alt="#" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  watch: {},
  props: {},
  methods: {},
  created() {},
};
</script>