<template>
    <div>
        <!-- Header -->
        <header class="header shop">
            <!-- Topbar -->
            <div class="topbar">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-12 col-12">
                            <!-- Top Left -->
                            <div class="top-left">
                                <ul class="list-main">
                                    <li>
                                        <i class="ti-headphone-alt"></i>+33 4 78
                                        45 95 45
                                    </li>
                                    <li>
                                        <i class="ti-email"></i>
                                        <a
                                            style="cursor: pointer"
                                            @click="openModalContact()"
                                            >support@ecommerce.com</a
                                        >
                                    </li>
                                </ul>
                            </div>
                            <!--/ End Top Left -->
                        </div>
                        <div class="col-lg-7 col-md-12 col-12">
                            <!-- Top Right -->
                            <div class="right-content">
                                <ul class="list-main">
                                    <li><i class="ti-location-pin"></i>Lyon</li>
                                    <li>
                                        <i class="ti-alarm-clock"></i>
                                        <a href="#">Offre du jour</a>
                                    </li>
                                    <span v-if="userConnected()">
                                        <li>
                                            <i class="ti-user"></i>
                                            <a href="#">Mon compte</a>
                                        </li>
                                        <li>{{ user.name }}</li>
                                        <li>
                                            <i class="ti-power-off"></i>
                                            <a
                                                href="/logout"
                                                onclick="event.preventDefault(); document.getElementById('logout-form').submit();"
                                                >Déconnexion</a
                                            >
                                        </li>
                                        <form
                                            id="logout-form"
                                            action="/logout"
                                            method="POST"
                                            class="d-none"
                                        >
                                            <input
                                                type="hidden"
                                                name="_token"
                                                :value="csrf"
                                            />
                                        </form>
                                    </span>
                                    <span v-else>
                                        <li>
                                            <i class="ti-power-off"></i
                                            ><a href="/login">Connexion</a>
                                        </li>
                                        <li>
                                            <i class="ti-power-off"></i
                                            ><a href="/register">Inscription</a>
                                        </li>
                                    </span>
                                </ul>
                            </div>
                            <!-- End Top Right -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Topbar -->
            <div class="middle-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-12">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="/accueil"
                                    ><img src="images/logo.png" alt="logo"
                                /></a>
                            </div>
                            <!--/ End Logo -->
                            <!--/ End Search Form -->
                            <div class="mobile-nav"></div>
                        </div>
                        <div class="col-lg-8 col-md-7 col-12">
                            <div class="search-bar-top">
                                <div class="search-bar">
                                    <input
                                        type="text"
                                        placeholder="Rechercer un produit"
                                        v-model="searchBarValue"
                                    />
                                    <router-link
                                        v-if="searchBarNotEmpty"
                                        :to="{
                                            name: 'productsByName',
                                            params: { name: searchBarValue }
                                        }"
                                        class="btnn"
                                        ><i class="ti-search"></i
                                    ></router-link>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-12">
                            <div class="right-bar">
                                <!-- Search Form -->
                                <div
                                    class="sinlge-bar shopping"
                                    v-if="userConnected()"
                                >
                                    <router-link
                                        :to="{
                                            name: 'basketOfUser',
                                            params: { userId: user.id }
                                        }"
                                        class="single-icon"
                                        id="nbItemCart"
                                        ><i class="ti-bag"></i>
                                        <span class="total-count">{{
                                            nbItemBasket
                                        }}</span></router-link
                                    >
                                    <!-- Shopping Item -->
                                    <div class="shopping-item">
                                        <router-link
                                            :to="{
                                                name: 'basketOfUser'
                                            }"
                                        >
                                            Voir mon panier
                                        </router-link>
                                    </div>
                                    <!--/ End Shopping Item -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Inner -->
            <div class="header-inner">
                <div class="container">
                    <div class="cat-nav-head">
                        <div class="row">
                            <!-- CATEGORIES -->
                            <show-categories> </show-categories>
                            <!-- END Categories -->
                            <div class="col-lg-9 col-12">
                                <div class="menu-area">
                                    <!-- Main Menu -->
                                    <nav class="navbar navbar-expand-lg">
                                        <div class="navbar-collapse">
                                            <div class="nav-inner">
                                                <ul
                                                    class="nav main-menu menu navbar-nav"
                                                >
                                                    <li class="active">
                                                        <a href="/accueil"
                                                            >Accueil</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <router-link
                                                            :to="{
                                                                name:
                                                                    'productsByName',
                                                                params: {
                                                                    name: ''
                                                                }
                                                            }"
                                                            >Produits</router-link
                                                        >
                                                    </li>
                                                    <li>
                                                        <a
                                                            style="cursor: pointer"
                                                            @click="
                                                                openModalContact()
                                                            "
                                                            >Nous contacter</a
                                                        >
                                                    </li>
                                                    <li v-if="userConnected()">
                                                        <router-link
                                                            :to="{
                                                                name:
                                                                    'wishlist',
                                                                params: {
                                                                    wishlist: true
                                                                }
                                                            }"
                                                            >Liste de
                                                            souhait</router-link
                                                        >
                                                    </li>
                                                    <li
                                                        class="isMobile"
                                                        v-if="userConnected()"
                                                    >
                                                        <router-link
                                                            :to="{
                                                                name:
                                                                    'basketOfUser'
                                                            }"
                                                        >
                                                            Mon panier
                                                        </router-link>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </nav>
                                    <!--/ End Main Menu -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ End Header Inner -->
        </header>
        <!--/ End Header -->
        <!-- Modal -->
        <div
            class="modal fade"
            id="contact"
            tabindex="-1"
            role="dialog"
            ref="modal"
        >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span class="ti-close" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row no-gutters">
                            <div class="col-lg-6 offset-lg-3 col-12">
                                <h4
                                    style="
                    margin-top: 25px;
                    font-size: 14px;
                    font-weight: 500;
                    color: #f7941d;
                    display: block;
                    margin-bottom: 5px;
                  "
                                >
                                    Contact
                                </h4>
                                <p
                                    style="
                    display: block;
                    margin-top: 20px;
                    color: #888;
                    font-size: 14px;
                    font-weight: 400;
                  "
                                >
                                    Si vous avez une question, n'hésitez pas à
                                    nous la poser.
                                </p>
                                <label for="name"
                                    >Votre nom :
                                    <small
                                        id="nameHelp"
                                        class="form-text text-muted d-inline"
                                        >Obligatoire</small
                                    ></label
                                >
                                <input
                                    id="name"
                                    type="text"
                                    name="name"
                                    class="form-control"
                                    required
                                    v-model="name"
                                />
                                <label for="email"
                                    >Votre email :
                                    <small
                                        id="emailHelp"
                                        class="form-text text-muted d-inline"
                                        >Obligatoire</small
                                    ></label
                                >
                                <input
                                    id="email"
                                    type="email"
                                    name="email"
                                    class="form-control"
                                    required
                                    v-model="email"
                                />
                                <label for="subject"
                                    >Sujet :
                                    <small
                                        id="subjectHelp"
                                        class="form-text text-muted d-inline"
                                        >Obligatoire</small
                                    ></label
                                >
                                <input
                                    id="subject"
                                    type="text"
                                    name="subject"
                                    class="form-control"
                                    required
                                    v-model="subject"
                                />
                                <label for="message"
                                    >Message :
                                    <small
                                        id="messageHelp"
                                        class="form-text text-muted d-inline"
                                        >Obligatoire</small
                                    ></label
                                >
                                <textarea
                                    id="message"
                                    name="message"
                                    class="form-control"
                                    required
                                    v-model="message"
                                />
                                <button class="btn mt-3" @click="sendMail()">
                                    Envoyer
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button
            ref="btnModal"
            type="button"
            data-toggle="modal"
            data-target="#contact"
            class="btn btn-secondary"
            style="display: none"
        >
            Activer modal
        </button>
        <!-- Modal end -->
    </div>
</template>

<script>
export default {
    data: function() {
        return {
            csrf: document
                .querySelector('meta[name="csrf-token"]')
                .getAttribute("content"),
            searchBarValue: "",
            name: "",
            email: "",
            subject: "",
            message: ""
        };
    },

    mounted() {
        if (this.userConnected()) {
            this.getBasketOfUser();
            this.name = this.user.name;
            this.email = this.user.email;
        }
    },

    props: {
        user: {
            type: Object,
            default: null
        }
    },

    computed: {
        /**
         * Chec if the searchBar is empty or not
         * @return false if empty | true if not empty
         */
        searchBarNotEmpty() {
            return this.searchBarValue == "" ? false : true;
        },

        /**
         * @return int the number of product that a user have in his basket
         */
        nbItemBasket() {
            return this.$store.state.nbItemBasket;
        }
    },

    methods: {
        /**
         * Send the email to the support
         */
        sendMail() {
            if (this.name && this.email && this.subject && this.message) {
                axios
                    .post("/api/mail/send", {
                        name: this.name,
                        email: this.email,
                        subject: this.subject,
                        message: this.message
                    })
                    .then(response => {
                        console.log(response);
                    });
            }
        },
        /**
         * Open the contact modal
         */
        openModalContact() {
            this.$refs["btnModal"].click();
        },
        /**
         * get the number of product in the basket of the user
         */
        getBasketOfUser() {
            axios.get("/api/basketProduct/getAllFromUser").then(response => {
                response.data.data.forEach(element => {
                    this.$store.commit("addItemCountToBasket");
                });
            });
        },

        /**
         * Check if the user is connected
         * @return true if the user is connected
         */
        userConnected() {
            if (this.user != null) {
                return true;
            }
            return false;
        }
    },
    created() {}
};
</script>
