<template>
    <div>
        <!-- Modal -->
        <div
            class="modal fade"
            id="notConnected"
            tabindex="-1"
            role="dialog"
            ref="modal"
        >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span class="ti-close" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row no-gutters">
                            <div class="col-lg-6 offset-lg-3 col-12">
                                <h4
                                    style="
                    margin-top: 100px;
                    font-size: 14px;
                    font-weight: 500;
                    color: #f7941d;
                    display: block;
                    margin-bottom: 5px;
                  "
                                >
                                    ECommerce
                                </h4>
                                <h3 style="font-size: 30px; color: #333">
                                    Pas connecté.
                                </h3>
                                <p
                                    style="
                    display: block;
                    margin-top: 20px;
                    color: #888;
                    font-size: 14px;
                    font-weight: 400;
                  "
                                    v-text="btnModalText"
                                ></p>
                                <div class="button" style="margin-top: 30px">
                                    <a
                                        href="/login"
                                        class="btn"
                                        style="color: #fff"
                                        >Se connecter</a
                                    >
                                </div>
                                <div class="button" style="margin-top: 30px">
                                    <a
                                        href="/register"
                                        class="btn"
                                        style="color: #fff"
                                        >Créer un compte</a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button
            ref="btnModal"
            type="button"
            data-toggle="modal"
            data-target="#notConnected"
            class="btn btn-secondary"
            style="display: none"
        >
            Activer modal
        </button>
        <!-- Modal end -->
    </div>
</template>

<script>
export default {
    data: function() {
        return {
            btnModalText: ""
        };
    },

    props: {
        user: {
            type: Object,
            default: null
        }
    }
};
</script>
