<template>
  <div>
    <div class="text-center">
      <h1>404 Error</h1>
      <p>La page que vous essayez d'accéder n'existe pas.</p>
    </div>
  </div>
</template>

<script>
export default {
  watch: {},
  props: {},
  methods: {},
  created() {},
};
</script>