<template>
  <div class="container">
    <div v-if="errors.length">
      <span>Veuillez corriger les erreurs suivantes :</span>
      <ul>
        <li v-for="error in errors">{{ error }}</li>
      </ul>
    </div>
    <div class="form-group">
      <label for="lastName">Nom : </label>
      <input
        id="lastName"
        class="form-control"
        name="lastName"
        v-model="customer.lastName"
        type="text"
        required
      />
    </div>
    <div class="form-group">
      <label for="firstName">Prénom : </label>
      <input
        id="firstName"
        class="form-control"
        name="firstName"
        v-model="customer.firstName"
        type="text"
        required
      />
    </div>
    <div class="form-group">
      <label for="email">Email : </label>
      <input
        id="email"
        class="form-control"
        name="email"
        v-model="customer.email"
        type="email"
        required
      />
    </div>
    <div class="form-group">
      <label for="country">Pays : </label>
      <select name="country" id="country" class="form-select" v-model="customer.country">
        <option v-for="country in countriesForStripe" :value="country">{{country}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="cp">Code postal : </label>
      <input
        id="cp"
        class="form-control"
        name="cp"
        v-model="customer.cp"
        type="text"
      />
    </div>
    <div class="form-group">
      <label for="city">Ville : </label>
      <input
        id="city"
        class="form-control"
        name="city"
        v-model="customer.city"
        type="text"
        required
      />
    </div>
    <div class="form-group">
      <label for="adresse">Adresse de livraison : </label>
      <input
        id="adresse"
        class="form-control"
        name="adresse"
        v-model="customer.adresse"
        type="text"
        required
      />
    </div>
    <div class="form-group">
      <label for="card-holder-name">Titulaire de la carte : </label>
      <input
        id="card-holder-name"
        class="form-control"
        name="cardOwner"
        v-model="ownerCard"
        type="text"
        required
      />
    </div>
    <label for="card-element" class="leading-7 text-sm text-gray-600"
      >Carte de crédit</label
    >
    <div id="card-element" class="mb-4"></div>
    <input type="hidden" name="_token" v-bind:value="csrf" />
    <button
      class="btn btn-primary"
      @click="checkInformation"
      :disabled="paymentProcessing"
      v-text="paymentProcessing ? 'En cours' : 'Payer'"
    ></button>
    <div class="mt-3">
      <p class="last-info-before-pay">
        Nombre d'article : <strong>{{ getNbProduct }}</strong>
      </p>
      <p class="last-info-before-pay">
        Total : <strong>{{ getPriceTotal }} €</strong>
      </p>
    </div>
    <div class="form-check">
      <input
        type="checkbox"
        class="form-check-input"
        id="exampleCheck1"
        name="termesVente"
        v-model="customer.checkTermes"
        required
      />
      <label
        class="form-check-label"
        for="exampleCheck1"
        :style="changeColorOnCheck"
        >J'accepte les termes et conditions de ventes</label
      >
    </div>
  </div>
</template>

<script>
import { loadStripe } from "@stripe/stripe-js";
export default {
  data: function () {
    return {
      stripe: {},
      cardNumber: {},
      csrf: document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content"),
      basketProducts: [],
      customer: {
        lastName: this.user.name,
        firstName: this.user.firstName,
        cardOwner: this.user.name + " " + this.user.firstName,
        email: this.user.email,
        adresse: this.user.adresse,
        city: this.user.city,
        cp: this.user.cp,
        country: 'FR',
        checkTermes: false,
      },
      errors: [],
      paymentProcessing: false,
      countriesForStripe: []
    };
  },
  async mounted() {
    this.getCountriesForStripe();
    this.getProductsOfUser();
    //Clé Stripe de l'application
    this.stripe = await loadStripe(process.env.MIX_STRIPE_KEY);

    const elements = this.stripe.elements();

    this.cardNumber = elements.create("card");

    this.cardNumber.mount("#card-element");
  },
  props: {
    user: {
      type: Object,
      default: null,
    },
  },
  computed: {
    /**
     * Assume that the card's owner is the lastName and the firstName of the customer
     * @return string
     */
    ownerCard: {
      get: function () {
        return this.customer.lastName + " " + this.customer.firstName;
      },
      set: function () {},
    },

    /**
     * Check if checkBox is checked and change the style "color" of the string
     * Green if checkBox is checked | false
     * @return string
     */
    changeColorOnCheck() {
      if (this.customer.checkTermes == true) {
        return "color: green;";
      }
      return "color: red;";
    },

    /**
     * Return the number of product in the basket
     * @return int
     */
    getNbProduct() {
      var nbProduct = 0;
      this.basketProducts.forEach((basketProduct) => {
        nbProduct += basketProduct.quantity;
      });
      return nbProduct;
    },

    /**
     * Get the price total of the basket for the user
     * @return int
     */
    getPriceTotal() {
      var totalPrice = 0;
      this.basketProducts.forEach((basketProduct) => {
        totalPrice +=
          basketProduct.quantity *
          (basketProduct.product.price -
            (basketProduct.product.price * basketProduct.product.sold) / 100);
      });
      return totalPrice.toFixed(2);
    },
  },
  methods: {
    /**
     * Retrieve all the countries that Stripe can work with
     */
    getCountriesForStripe(){
      axios.get('/api/bill/countries')
      .then((response) => {
        this.countriesForStripe = response.data[0].supported_transfer_countries;
      });
    },

    /**
     * Check if inputs are filled
     * if there are, call processPayment method
     */
    checkInformation() {
      var infoAreGood = true;
      this.errors = [];
      if (this.customer.lastName == null || this.customer.lastName == "") {
        this.errors.push("Le champ 'Nom' est requis.");
        infoAreGood = false;
      }
      if (this.customer.firstName == null || this.customer.firstName == "") {
        this.errors.push("Le champ 'Prénom' est requis.");
        infoAreGood = false;
      }
      if (this.customer.cardOwner == null || this.customer.cardOwner == "") {
        this.errors.push("Le champ 'Titulaire de la carte' est requis.");
        infoAreGood = false;
      }
      if (this.customer.email == null || this.customer.email == "") {
        this.errors.push("Le champ 'Email' est requis.");
        infoAreGood = false;
      } else if (!this.validEmail(this.customer.email)) {
        this.errors.push("Un email valide est requis.");
        infoAreGood = false;
      }
      if (this.customer.adresse == null || this.customer.adresse == "") {
        this.errors.push("Le champ 'Adresse' est requis.");
        infoAreGood = false;
      }
      if (this.customer.city == null || this.customer.city == "") {
        this.errors.push("Le champ 'Ville' est requis.");
        infoAreGood = false;
      }
      if (this.customer.country == null || this.customer.country == "") {
        this.errors.push("Le champ 'Pays' est requis.");
        infoAreGood = false;
      }
      if (this.customer.cp == null || this.customer.cp == "") {
        this.errors.push("Le champ 'Code postal' est requis.");
        infoAreGood = false;
      }
      if (
        this.customer.checkTermes == false ||
        this.customer.checkTermes == ""
      ) {
        this.errors.push("Les termes de vente doivent être acceptés.");
        infoAreGood = false;
      }
      if (infoAreGood) {
        this.processPayment();
      }
    },

    /**
     * Cheak the if the mail is valid
     * @return true if valid | false
     */
    validEmail: function (email) {
      var regex = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return regex.test(email);
    },

    /**
     * Create a payment and if it is valid, insert in the database and ask Stripe
     */
    async processPayment() {
      this.paymentProcessing = true;
      const { paymentMethod, error } = await this.stripe.createPaymentMethod(
        "card",
        this.cardNumber,
        {
          billing_details: {
            name: this.customer.cardOwner,
            email: this.customer.email,
            address: {
              line1: this.customer.adresse,
              city: this.customer.city,
              country: this.customer.country,
              postal_code: this.customer.cp,
            },
          },
        }
      );

      if (error) {
        this.paymentProcessing = false;
        console.log('ERREUR : ' + error);
      } else {
        this.customer.payment_method_id = paymentMethod.id;
        this.customer.amount = this.getPriceTotal * 100;
        this.customer.cart = this.basketProducts;

        axios.post("/api/bill/add", this.customer)
        .then((response) => {
          this.paymentProcessing = false;
          this.$store.commit("clearNbItemBasket");
          alert("Les produits ont été commandés.");
          this.$router.push({name: 'bill', params: {'bill': response}});
        }).catch((error) => {
          alert(error.response.data.message);
          this.paymentProcessing = false;
        });
      }
    },

    /**
     * Get all the products in the basket for the user
     */
    getProductsOfUser() {
      axios.get("/api/basketProduct/getAllFromUser").then((response) => {
        this.basketProducts = response.data.data;
      });
    },
  },
  created() {},
};
</script>