<template>
    <!-- Start Product Area -->
    <div class="product-area section">
        <div class="container">
            <!--START FILTER -->
            <h5 class="mb-4">Filtres</h5>
            <div class="container d-inline-block">
                <!-- START DROPDOWN SIZE -->
                <div class="dropdown d-inline mr-3 mr-sm-5">
                    <button
                        class="btn btn-secondary dropdown-toggle"
                        type="button"
                        id="dropDownSize"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        Taille
                    </button>
                    <div
                        class="dropdown-menu keep-open"
                        id="dropdownSize"
                        aria-labelledby="dropDownSize"
                    >
                        <table class="table">
                            <tbody>
                                <tr v-for="size in variations.sizes">
                                    <td>{{ size }}</td>
                                    <td>
                                        <input
                                            class="form-check-input"
                                            style="margin-left: 10px;"
                                            type="checkbox"
                                            name="size"
                                            :value="size"
                                            :id="size"
                                            @click="
                                                getSizeSelected(size, $event)
                                            "
                                        />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END DROPDOWN SIZE -->
                <!-- START DROPDOWN COLOR -->
                <div class="dropdown dropright d-inline ml-3 ml-sm-5">
                    <button
                        class="btn btn-secondary dropdown-toggle"
                        type="button"
                        id="dropDownColor"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        Couleur
                    </button>
                    <div
                        class="dropdown-menu keep-open"
                        aria-labelledby="dropDownColor"
                        id="dropdownColor"
                    >
                        <span v-for="color in variations.colors">
                            <input
                                :id="color"
                                class="form-check-input"
                                type="checkbox"
                                name="color"
                                :value="color"
                                style="display: none; visibility: hidden;"
                                @click="getColorSelected(color, $event)"
                            />
                            <label
                                :style="getColor(color)"
                                :for="color"
                                class="color-label"
                                :ref="color"
                            >
                            </label>
                        </span>
                    </div>
                </div>
                <!-- END DROPDOWN COLOR -->
                <!-- START GENERAL FILTER -->
                <select
                    class="form-select float-lg-right d-inline mt-5 mt-lg-0 col-sm-6 col-md-4"
                    name="generalFilter"
                    v-model="generalFilterValue"
                >
                    <option selected value="alpha" @click="generalFilter">
                        Order alphabétique
                    </option>
                    <option value="brand" @click="generalFilter">
                        Marque
                    </option>
                    <option value="lowestPrice" @click="generalFilter">
                        Du - chère au + chère
                    </option>
                    <option value="highestPrice" @click="generalFilter">
                        Du + chère au - chère
                    </option>
                    <option value="solded" @click="generalFilter">
                        Le plus soldé
                    </option>
                </select>
                <!-- END GENERAL FILTER -->
            </div>
            <!-- END FILTER -->
            <div class="row">
                <div class="col-12">
                    <div class="product-info">
                        <!-- Start Single Tab -->
                        <div class="tab-pane fade show active" role="tabpanel">
                            <div class="tab-single">
                                <div class="row">
                                    <div
                                        class="col-xl-3 col-lg-4 col-md-4 col-12"
                                        v-for="(product,
                                        index) in productsWithFilter"
                                        :key="product.id"
                                    >
                                        <div class="single-product">
                                            <div class="product-img">
                                                <router-link
                                                    :to="{
                                                        name: 'detailProduct',
                                                        params: {
                                                            prodId: product.id
                                                        }
                                                    }"
                                                >
                                                    <img
                                                        class="default-img"
                                                        :src="
                                                            getFirstVariationOfProduct(
                                                                product.variations
                                                            )
                                                        "
                                                        alt="#"
                                                    />
                                                    <!-- Display the TAGS -->
                                                    <span
                                                        v-for="tag in product.tags"
                                                        v-bind:class="tag.class"
                                                        v-bind:style="tag.style"
                                                        >{{ tag.text }}</span
                                                    >
                                                    <!-- END Display the TAGS -->
                                                </router-link>
                                                <div class="button-head">
                                                    <!-- START Wishlist -->
                                                    <wishlist
                                                        ref="wishlist"
                                                        :user="user"
                                                        :propsProductId="
                                                            product.id
                                                        "
                                                        :propsProductName="
                                                            product.name
                                                        "
                                                    ></wishlist>
                                                    <!-- END Wishlist -->
                                                    <div
                                                        class="product-action-2"
                                                    >
                                                        <router-link
                                                            :to="{
                                                                name:
                                                                    'detailProduct',
                                                                params: {
                                                                    prodId:
                                                                        product.id
                                                                }
                                                            }"
                                                            >Détail du
                                                            produit</router-link
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h3>
                                                    <a href="#">{{
                                                        product.name
                                                    }}</a>
                                                </h3>
                                                <div class="product-price">
                                                    <span
                                                        v-if="
                                                            isSolded(
                                                                product.sold
                                                            )
                                                        "
                                                        class="old"
                                                        >{{
                                                            product.price
                                                        }}
                                                        €</span
                                                    >
                                                    <span
                                                        >{{
                                                            soldedPrice(product)
                                                        }}
                                                        €</span
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <pagination
                                        class="justify-content-center mt-5"
                                        :data="products"
                                        :limit="2"
                                        @pagination-change-page="getResults"
                                    >
                                    </pagination>
                                </div>
                            </div>
                        </div>
                        <!--/ End Single Tab -->
                    </div>
                </div>
            </div>
        </div>
        <!-- STAR MODAL -->
        <modal-not-connected ref="modal"></modal-not-connected>
        <!-- END MODAL -->
    </div>
</template>

<script>
import ModalNotConnected from "./ModalNotConnected";
import Wishlist from "./Wishlist.vue";
export default {
    components: {
        ModalNotConnected,
        Wishlist
    },
    methods: {
        /**
         * Dynamic Sorting Function
         */
        compareValues(key, order = "asc") {
            return function innerSort(a, b) {
                if (!a.hasOwnProperty(key) || !b.hasOwnProperty(key)) {
                    // property doesn't exist on either object
                    return 0;
                }
                let comparison = 0;
                var varA;
                var varB;
                if (key === "price") {
                    var soldKey = "sold";
                    varA = parseFloat(
                        (a[key] - (a[key] * a[soldKey]) / 100).toFixed(2)
                    );
                    varB = parseFloat(
                        (b[key] - (b[key] * b[soldKey]) / 100).toFixed(2)
                    );
                } else if (key === "idBrand") {
                    varA =
                        typeof a[key]["name"] === "string"
                            ? a[key]["name"].toUpperCase()
                            : a[key]["name"];
                    varB =
                        typeof b[key]["name"] === "string"
                            ? b[key]["name"].toUpperCase()
                            : b[key]["name"];
                } else {
                    varA =
                        typeof a[key] === "string"
                            ? a[key].toUpperCase()
                            : a[key];
                    varB =
                        typeof b[key] === "string"
                            ? b[key].toUpperCase()
                            : b[key];
                }
                if (varA > varB) {
                    comparison = 1;
                } else if (varA < varB) {
                    comparison = -1;
                }
                return order === "desc" ? comparison * -1 : comparison;
            };
        },

        /**
         * Sort the products with a general filter
         */
        generalFilter() {
            switch (this.generalFilterValue) {
                case "alpha":
                    this.productsWithFilter.sort(this.compareValues("name"));
                    break;
                case "lowestPrice":
                    this.productsWithFilter.sort(this.compareValues("price"));
                    break;
                case "highestPrice":
                    this.productsWithFilter.sort(
                        this.compareValues("price", "desc")
                    );
                    break;
                case "solded":
                    this.productsWithFilter.sort(
                        this.compareValues("sold", "desc")
                    );
                    break;
                case "brand":
                    this.productsWithFilter.sort(this.compareValues("idBrand"));
                    break;
                default:
                    break;
            }
        },

        /**
         * Get the sizes selected by the user
         */
        getSizeSelected(size, event) {
            if (event.target.checked == true) {
                this.sizesSelected.push(size);
            } else {
                this.sizesSelected.forEach((sizeSelected, index) => {
                    if (sizeSelected == size) {
                        this.sizesSelected.splice(index, 1);
                    }
                });
            }
            this.getProductWithFilter();
        },

        /**
         * Get the colors selected by the user
         */
        getColorSelected(color, event) {
            if (event.target.checked == true) {
                this.colorsSelected.push(color);
                this.$refs[color][0].style["border-color"] = "#0ebaff";
            } else {
                this.colorsSelected.forEach((colorSelected, index) => {
                    if (colorSelected == color) {
                        this.colorsSelected.splice(index, 1);
                        this.$refs[color][0].style["border-color"] = "white";
                    }
                });
            }
            this.getProductWithFilter();
        },

        /**
         * Set the style for the color
         */
        getColor(color) {
            return (
                "margin-left: 15px; width: 4em; height: 4em; border: solid white; border-radius: 50px; background-color: " +
                color +
                "; cursor: pointer;"
            );
        },

        /**
         * Get all the products with the filters
         */
        getProductWithFilter() {
            if (
                this.sizesSelected.length == 0 &&
                this.colorsSelected.length == 0
            ) {
                this.productsWithFilter = this.products.data;
            } else if (
                this.sizesSelected.length == 0 &&
                this.colorsSelected.length > 0
            ) {
                this.productsWithFilter = [];
                this.products.data.forEach(product => {
                    product.variations.forEach(variation => {
                        if (
                            this.colorsSelected.includes(
                                variation.variations.color
                            )
                        ) {
                            if (!this.productsWithFilter.includes(product)) {
                                this.productsWithFilter.push(product);
                            }
                        }
                    });
                });
            } else if (
                this.sizesSelected.length > 0 &&
                this.colorsSelected.length == 0
            ) {
                this.productsWithFilter = [];
                this.products.data.forEach(product => {
                    product.variations.forEach(variation => {
                        if (
                            this.sizesSelected.includes(
                                variation.variations.size
                            )
                        ) {
                            if (!this.productsWithFilter.includes(product)) {
                                this.productsWithFilter.push(product);
                            }
                        }
                    });
                });
            } else {
                this.productsWithFilter = [];
                this.products.data.forEach(product => {
                    product.variations.forEach(variation => {
                        if (
                            this.sizesSelected.includes(
                                variation.variations.size
                            ) &&
                            this.colorsSelected.includes(
                                variation.variations.color
                            )
                        ) {
                            if (!this.productsWithFilter.includes(product)) {
                                this.productsWithFilter.push(product);
                            }
                        }
                    });
                });
            }
            this.generalFilter();
        },

        /**
         * Get all the variations (size / color)
         */
        getAllVariations() {
            this.variations.sizes = [];
            this.variations.colors = [];
            this.products.data.forEach(product => {
                product.variations.forEach(variation => {
                    if (
                        !this.variations.sizes.includes(
                            variation.variations.size
                        )
                    ) {
                        this.variations.sizes.push(variation.variations.size);
                    }
                    if (
                        !this.variations.colors.includes(
                            variation.variations.color
                        )
                    ) {
                        this.variations.colors.push(variation.variations.color);
                    }
                });
            });
            this.variations.sizes.sort();
            this.variations.colors.sort();
        },

        /**
         * @return true if product is solded | false
         */
        isSolded(sold) {
            return sold > 0 ? true : false;
        },

        /**
         * Return true if the product is in stock | false
         * @return bool
         */
        isInStock(stock) {
            return stock > 0 ? true : false;
        },

        /**
         * Return the price a product that is solded
         */
        soldedPrice(product) {
            return (
                product.price -
                (product.price * product.sold) / 100
            ).toFixed(2);
        },

        /**
         * Get the tags for the products (new, rupture, sold....)
         */
        setUpProduct(response) {
            this.products = response.data;
            this.productsWithFilter = this.products.data;
            this.products.data.forEach(product => {
                product.tags = [];
                if (product.sold > 0) {
                    product.tags.push({
                        text: "-" + product.sold + "%",
                        class: "price-dec",
                        style: "margin-right: 0rem!important;"
                    });
                }
                var createdAt = new Date(product.created_at);
                var consideredNew = new Date();
                consideredNew.setDate(consideredNew.getDate() - 30);
                if (
                    createdAt.getFullYear() +
                        "-" +
                        (createdAt.getMonth() + 1) +
                        "-" +
                        createdAt.getDate() >
                    consideredNew.getFullYear() +
                        "-" +
                        (consideredNew.getMonth() + 1) +
                        "-" +
                        consideredNew.getDate()
                ) {
                    product.tags.push({
                        text: "New",
                        class: "new",
                        style: "margin-right: 4rem!important;"
                    });
                }
            });
            this.productsWithFilter.forEach(product => {
                var isInRupture = true;
                product.variations.forEach(variation => {
                    if (variation.stock > 0) {
                        isInRupture = false;
                    }
                });
                if (isInRupture) {
                    product.tags.push({
                        text: "Rupture",
                        class: "out-of-stock",
                        style: "margin-right: 8rem!important;"
                    });
                }
            });
            this.getAllVariations();
            this.getProductWithFilter();
        },

        /**
         * Get all products with the paginator
         */
        getResults(page = 1) {
            if (typeof this.$route.params.name == "undefined") {
                if (!this.$route.params.wishlist) {
                    axios
                        .get(
                            "/api/product/allFromCategory/" +
                                this.$route.params.categoryId +
                                "/" +
                                this.$route.params.subCategoryId +
                                "?page=" +
                                page
                        )
                        .then(response => {
                            this.setUpProduct(response);
                        });
                } else {
                    axios
                        .get("/api/wishlist/getAllPaginateTwelve?page=" + page)
                        .then(response => {
                            var resp = [];
                            response.data.data.forEach(wishlist => {
                                resp.push(wishlist.product);
                            });
                            response.data.data = resp;
                            this.setUpProduct(response);
                        });
                }
            } else {
                axios
                    .get(
                        "/api/product/getProductsStartingBy/" +
                            this.$route.params.name +
                            "?page=" +
                            page
                    )
                    .then(response => {
                        this.setUpProduct(response);
                    });
            }
        },

        /**
         * @return String : the first image of all variations
         */
        getFirstVariationOfProduct(variations) {
            return variations[0].imageAdresse;
        }
    },

    watch: {
        $route() {
            this.getResults();
        }
    },

    props: {
        user: {
            type: Object,
            default: null
        },
        name: {
            type: String,
            default: null
        },
        wishlist: {
            type: Boolean,
            default: false
        }
    },

    data: function() {
        return {
            productsInWishlist: [],
            generalFilterValue: "alpha",
            products: [],
            productsWithFilter: [],
            variations: {
                sizes: [],
                colors: []
            },
            colorsSelected: [],
            sizesSelected: []
        };
    },

    mounted() {
        this.getResults();
        //Prevent dropdown to close when click inside of it
        $("#dropdownSize").bind("click", function(e) {
            e.stopPropagation();
        });
        //Prevent dropdown to close when click inside of it
        $("#dropdownColor").bind("click", function(e) {
            e.stopPropagation();
        });
    }
};
</script>
