<template>
  <div>
    <h4>TEST GET USERS</h4>
    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="user in users" :key="user.id">
          <td>
            {{ user.name }}
          </td>
          <td>
            {{ user.email }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>


<script>
export default {
  methods: {
      log(message){
          console.log(message);
      },
  },

  watch: {},

  props: {},
  created() {},

  data: function () {
    return {
      users: [],
    };
  },
  
  mounted() {
    axios.get("/api/allUsers").then((response) => {
      this.users = response.data.data;
    });
  },
};
</script>