<template>
    <div class="product-action">
        <a title="Liste de souhait" @click="addToWhislist()"
            ><i
                :ref="'i-' + productId"
                style="margin-right: 7px; color: orange"
                class="fa fa-heart-o"
            ></i
            ><span :ref="'span-' + productId" style="cursor: pointer"
                >Ajouter à la liste de souhait</span
            ></a
        >
    </div>
</template>

<script>
export default {
    props: {
        user: {
            type: Object,
            default: null
        },
        propsProductId: {
            type: Number,
            default: null,
        },
        propsProductName: {
            type: String,
            default: null,
        }
    },

    data: function() {
        return {
            productId: null,
            productName: null,
            wishlistText: {
                add: "Ajouter à la liste de souhait",
                remove: "Retirer de la liste de souhait"
            },
            wishlistHeartStyle: {
                add: "fa fa-heart-o",
                remove: "fa fa-heart"
            }
        };
    },

    methods: {
        /**
         * Get the product for the user in the wishlist and see if it is in it
         */
        getProductWishlist() {
            if (this.user != null) {
                axios
                    .get("/api/wishlist/getOneProduct/" + this.productId)
                    .then(response => {
                        if (typeof response.data == "object") {
                            this.isInWishlist = true;
                            this.$refs[
                                "wishlistIcon"
                            ].className = this.wishlistHeartStyle.remove;
                            this.$refs[
                                "wishlistText"
                            ].innerHTML = this.wishlistText.remove;
                        }
                    });
            }
        },

        /**
         * Add the product to the wishlist or remove it if it is already in it
         */
        addToWhislist() {
            if (this.user != null) {
                if (!this.isInWishlist) {
                    axios
                        .post("/api/wishlist/add", {
                            productId: this.productId
                        })
                        .then(response => {
                            this.isInWishlist = true;
                            toastr.success(
                                "Vous avez ajouté " +
                                    this.productName +
                                    " à votre liste de souhait.",
                                "Succès"
                            );
                            this.$refs[
                                "i-" + this.productId
                            ].className = this.wishlistHeartStyle.remove;
                            this.$refs[
                                "span-" + this.productId
                            ].innerHTML = this.wishlistText.remove;
                        });
                } else {
                    axios
                        .post("/api/wishlist/remove", {
                            productId: this.productId
                        })
                        .then(response => {
                            this.isInWishlist = false;
                            toastr.success(
                                "Vous avez retirer " +
                                    this.productName +
                                    " de votre liste de souhait.",
                                "Succès"
                            );
                            this.$refs[
                                "i-" + this.productId
                            ].className = this.wishlistHeartStyle.add;
                            this.$refs[
                                "span-" + this.productId
                            ].innerHTML = this.wishlistText.add;
                        });
                }
            } else {
                this.$parent.$refs["modal"].btnModalText =
                    "Vous n'êtes pas connecté. Pour ajouer un produit à votre liste de souhait vous devez être connecté.";
                this.$parent.$refs["modal"].$refs["btnModal"].click();
            }
        }
    },

    mounted(){
        if(this.propsProductId){
            this.productId = this.propsProductId
        }
        if(this.propsProductName){
            this.productName = this.propsProductName
        }
    },
};
</script>
